{{#with this}}

<li class="imgItem">
    <img src={{previewURL}} data-source={{webformatURL}} data-likes="{{likes}}" data-shows="{{views}}"
        data-comments="{{comments}}" data-downloads="{{downloads}}" alt="" class="buttonImage">
</li>

{{/with}}